absl-py==2.3.1
ast_serialize==0.6.0
certifi==2026.7.22
cffi==2.0.0
contourpy==1.4.0
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.66.1
kiwisolver==1.5.1
librt==0.13.0
matplotlib==3.11.2
mediapipe==1.0.1
mypy==2.3.0
mypy_extensions==1.1.0
numpy==2.4.1
opencv-contrib-python==5.0.0.93
opencv-python==4.13.0.90
packaging==25.0
pathspec==1.1.1
pillow==12.3.0
pycparser==2.23
pyparsing==3.3.3
python-dateutil==2.9.0.post0
six==1.17.0
sounddevice==0.5.3
typing_extensions==4.16.0
